
<div id="<%= dom_id friend %>">
  
  <p>
    <strong>Fisrt name:</strong>
    <%= friend.fisrt_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= friend.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= friend.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= friend.phone %>
  </p>

  <p>
    <strong>Twitter:</strong>
    <%= friend.twitter %>
  </p>



    <!-- 
    <tr>
      <th scope="row"></th>
      <td><%= friend.fisrt_name %></td>
      <td><%= friend.last_name %></td>
      <td><%= friend.email %></td>
      <td><%= friend.phone %></td>
      <td><%= friend.twitter %></td>
      <td><%= link_to "Show", friend %></td>
      <td>Edit</td>
      <td>Destroy</td>
    </tr>
    -->


</div>

