<!--<p style="color: green"><%= notice %></p>-->

<!-- Jumbotron -->
<div class="p-4 shadow-4 rounded-3" style="background-color: hsl(0, 0%, 94%);">
  <h2>Show Friend</h2>
  <p>
    <%= render @friend %>
  </p>

  <hr class="my-4" />

  <div>
    <%= link_to "Edit", edit_friend_path(@friend), class:"btn btn-secondary" %> 
    <%= link_to "Back", friends_path, class:"btn btn-secondary" %>
  </div>
  <br>
  <div>
    <%= button_to "Destroy this friend", @friend, method: :delete, data: {turbo_confirm: 'Are you sure?'}, class:"btn btn-danger" %>
  </div>
</div>
<!-- Jumbotron -->
